<div class="container">
 {{#each model as |question|}}
 <div class="well">
   <h3>{{question.title}}</h3>
   <h5>{{question.author}}</h5>
   <p>{{question.body}}</p>
   <button{{action 'delete' question}}>Delete</button>
 </div>
 {{/each}}
 </div>
<!--{{add-new-question question=model.question createQuestion="createQuestion"}}-->
{{outlet}}
